#share-button-pin {
  flex-direction: row;
}

#navigate-button-pin {
  flex-direction: row;
}

#ion-icon-pin {
  size: 2%;
}

#share-button {
  position: absolute;
  z-index: 2;
  left: -3px;
  top: -2px
}

#ion-icon-share {
  top: 0%;
}
