.feedback-button{
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.feedback-label{
  font-size: large;
}

.feedback-text{
  font-size: large;
}

#input-label {
  z-index: 1000;
}

@media (prefers-color-scheme: dark) {
  .about-feedback{
    color: white;
  }

  .feedback-button{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
  }
  
  .feedback-label{
    font-size: large;
    color: white;
  }
  
  .feedback-text{
    font-size: large;
    color: white;
  }
}