#share-button-pin {
  flex-direction: row;
}

#navigate-button-pin {
  flex-direction: row;
}

#ion-icon-pin {
  size: 2%;
}

#share-col {
  position: relative;
}

#share-col2 {
  position: relative;
}