ion-item{
  font-size: large;
}

ion-item-divider{
  padding-left: 5pt;
  padding-right: 5pt;
}

ion-textarea{
  padding-left: 5pt;
  padding-right: 5pt;
}

.aboutText{
  font-size: 15px;
  padding-left: 5pt;
  padding-right: 5pt;
}

.aboutFeedback{
  text-align: center;
  padding-left: 50pt;
}