ion-item{
  font-size: large;
}

ion-item-divider{
  padding-left: 5pt;
  padding-right: 5pt;
}

ion-textarea{
  padding-left: 5pt;
  padding-right: 5pt;
}

#toggle-closed {
  display: none;
}

#toggle-open {
  display: block;
}

#about-title {
  text-align: left;
}
