ion-item{
  font-size: large;
}

ion-item-divider{
  padding-left: 5pt;
  padding-right: 5pt;
}

ion-textarea{
  padding-left: 5pt;
  padding-right: 5pt;
}

#toggle-closed {
  display: none;
}

#toggle-open {
  display: block;
}

#about-title {
  text-align: left;
}

@media (prefers-color-scheme: dark) {

  ion-card-title.card-title.ion-inherit-color.ios.hydrated {
    background-color: rgb(43, 42, 42);
    color: white;
}


  ion-card{
    background: rgb(43, 42, 42);
    color: white;
    box-shadow: rgb(92, 91, 91) 0px 1px 5px;
  }

  #toggle-closed {
    display: none;
    color: white;
    background: rgb(43, 42, 42);
  }
  
  #toggle-open {
    display: block;
    color: white;
    background: rgb(43, 42, 42);
  }
  
  #about-title {
    text-align: left;
    background: rgb(43, 42, 42);
    color: white;
  }

  ion-item{
    font-size: large;
    background: rgb(43, 42, 42);
    color: white;
  }
  
  ion-item-divider{
    padding-left: 5pt;
    padding-right: 5pt;
    background: rgb(43, 42, 42);
    color: white;
  }
  
  ion-textarea{
    padding-left: 5pt;
    padding-right: 5pt;
    background: rgb(43, 42, 42);
    color: white;
  }
    
}