.information-card{
  box-shadow: black 2px 3px 7px;
}

@media (prefers-color-scheme: dark) {
  .card-title {
    background:  rgb(43, 42, 42);
    font-size: large;
    color: white;
  }

  .about-info {
    color: white;
  }
}
