.leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  width: 175px !important;
  height: auto !important;

  align-items: center;
  #name {
    font-size: 200;
  }
}

.leaflet-tooltip-bottom::before {
  border: none;
}

.tooltip {
  background: transparent;
  border: 0px;
  margin: 0px;
  box-shadow: none;
  font-weight: bold;
}

#share-button-pin {
  flex-direction: row;
}

#navigate-button-pin {
  flex-direction: row;
}

#ion-icon-pin {
  size: 2%;
}

#share-col {
  position: relative;
  left: -2pt;
}

#share-col2 {
  position: relative;
  right: -2pt;
}